* {
    /* background: #ffe6cc; */
    /* background: url(https://i.pinimg.com/originals/4c/f2/f0/4cf2f0b3f95698b0758a239d7fea30f0.jpg); */
    font-family: sans-serif;
}

body{
    /* background: #ffe6cc; */
    background: #fbd383;
}

#logo{
    /* height: 500px;
    width: 500px; */
}

#vinyl-collection{
    align-self: center;
    column-count: auto;
    column-width: 285px;
    background: url(https://i.pinimg.com/originals/4c/f2/f0/4cf2f0b3f95698b0758a239d7fea30f0.jpg);
}


.card {
   /* float: left; */
   page-break-inside: avoid;
   height: fit-content;
   width: 300px;
   margin-bottom: 10px;


}

.album-cover {
    height: 300px;
    width: 300px;
}

#hide {
    border: solid green 2px;
    background: #ffe6cc
}

#deleteB {
    border: solid red 2px;
    color: red;
    background: #ffe6cc
    /* margin-left: 30px; */
}

#favoriteB {
    border: solid cornflowerblue 2px;
    background: #ffe6cc
}

#favoriteB:focus{
    background: cornflowerblue;
}

.buttons {
    display: inline-flex;
    margin: 10px;
    text-align: center;
}

#submitButton {
    color: green;
    background: greenyellow;
}

#vinyl-header {
    /* background-color: tan; */
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    color: #734d26;
}

#vinyl-form {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.favorited {
    color: #80e5ff;
    text-align: center;
    text-decoration: underline dotted blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#album_name{
    background: #ffe6cc;
}

#image_url{
    background: #ffe6cc;
}

#artist{
    background: #ffe6cc;
}

#vinyl_color{
    background: #ffe6cc;
}

#format{
    background: #ffe6cc;
}