* {
    background: #ffe6cc;
}

#vinyl-collection{
    align-self: center;
    column-count: auto;
    column-width: 285px;
    
     /* display: inline-flex; */
}


.card {
   /* float: left; */
   height: fit-content;
   width: 300px;
   margin-bottom: 10px;

}

.album-cover {
    height: 300px;
    width: 300px;
}

#hide {
    border: solid red 2px;
}

#vinyl-header {
    background-color: tan;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

#vinyl-collection-click{
    align-self: center;
    column-count: auto;
    /* width: 280px; */
    height: fit-content;
    
    /* column-width: 285px; */
    
     /* display: inline-flex; */
}